Adafruit-Blinka==6.13.0
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-sht31d==2.3.6
Adafruit-PlatformDetect==3.15.3
Adafruit-PureIO==1.1.9
colorzero==2.0
gpiozero==1.6.2
paho-mqtt==1.5.1
pyftdi==0.53.2
pyserial==3.5
pyusb==1.1.0
