[Unit]
Description=SHT 30 sensor reading service
After=network.target

[Service]
ExecStart=/home/pi/microscripts/venv/bin/python main.py
WorkingDirectory=/home/pi/microscripts/sht30_sensor_reader
User=pi

[Install]
WantedBy=multi-user.target