[Unit]
Description=Humidity monitoring service
After=network.target

[Service]
ExecStart=/home/pi/microscripts/venv/bin/python main.py
WorkingDirectory=/home/pi/microscripts/humidity_monitor
User=rw

[Install]
WantedBy=multi-user.target