[Unit]
Description=${description}
After=network.target

[Service]
ExecStart=/home/pi/microscripts/venv/bin/python main.py
WorkingDirectory=/home/pi/microscripts/${module_name}
User=pi

[Install]
WantedBy=multi-user.target