[Unit]
Description=${description}
After=network.target

[Service]
ExecStart=python main.py
WorkingDirectory=/home/pi/microscripts/${module_name}
User=${user}

[Install]
WantedBy=multi-user.target